* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(95, 215, 218);
    background: linear-gradient(135deg, rgb(116, 214, 216) 23%, rgb(157, 197, 250) 100%);
    margin: 0%;
    font-family: Verdana, Tahoma, sans-serif;
}

main{
    margin-top: 8%;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: 10%;
}

.contenedor_nav {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
width: 150px;
padding: 10px;
}

ul {
    list-style: none;
}

header {
    background-color:rgba(0, 0, 0, 0.925);;
    opacity: 92%;
    margin:0%;
    border: 0%;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    height: 11%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    }

.navegador {
    min-width: 50%;
}
.navegador_lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav_enlace {
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.contenedor_cont {
    max-width: 200%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegador_contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/*SECCIÓN 1*/

.carrusel {
    float:left;
    clear: both;
    max-width: 45%;
    width: 480px;
    height: 480px;
    padding: 20px;
    margin-left: 1%;
}

.contenido1 {
    width: 50%;
    float: right;
    margin-top: 8%;
}

.tituloinicio {
    font-size: 35px;
    color: black;
    margin-bottom: 32px;
    text-align: left;
}

.subtituloinicio {
    font-weight: 100;
    margin-bottom: 32px; 
    color: black;
    max-width: 84%;
}

.botonayuda {
    display: inline-block;
    background-color:black;
    border-color: black;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom:10px; 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: 75px;
    }

.galeria{
    max-width: 45%;
    width: 480px;
    height: 480px;}

/*SECCIÓN 2*/
.historia {
    background-color:#E8E8E8;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    justify-content: column;
    clear:both;
    padding: 15px;
    max-width: 95%;
    }

.foto2016 {
    margin: 20px;
    float:right;
    clear: both;
    width: 520px;
    height: 400px;
    border-radius: 15%;
    padding: 20px;
}

.somos2 {
    position: center;
    font-size: 25;
    margin: 32px;
    color:black;
    text-shadow:  0 2px 3px rgba(0, 0, 0, 0.3);
}

.brevehistoria {
    position: center;
    font-size: 20;
    margin: 22px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal; 
    max-width: 40%;
    text-align: justify;
}
/*SECCIÓN 3*/
.nuestros_proyectos {
    padding: 64px 32px;
}   

.titulo_proyectos {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 0px;
    margin-bottom: 15px;
    }

.subtitulo_proyectos {
    text-align: center;
    font-size: 22 px;
    color: gray;
    margin-top: 15px;
    margin-bottom:40px;
    }
    
.proyectos {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
}

.subtitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
    color:black;
    margin-top: 5pt;
    margin-bottom: 13pt;
}

.proyecto {
    background-color: #E8E8E8;
    padding: 16px;
    width: 100%;
    max-width: 300px;
}

.proyecto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    margin: 4%;
    text-align: justify;
}

.imgproy {
    width: 250 px;
    height: 250 px;
}


.tituloconsulta, .tituloayuda {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 35px;
    padding: 12px;
}

.subtituloayuda {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
    padding: 12px;
    margin-bottom: 30px;
}

/*Globo de contacto*/
.contactosfijos {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 27px;
    padding: 12px;
}
.wpfijo {
    display: inline-block;
    text-decoration: none;
    z-index: 1000;
}
.fbfijo {
    display: inline-block;
    text-decoration: none;
    z-index: 1000;
}

/*pie de página*/
footer {
    background-color:rgba(0, 0, 0, 0.822);
    opacity: 90%;
    margin: 0%;
    border: 0%;
    max-width: 100%;
    position: end ;
}
.piepag {
    align-items: center;
}

.footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    margin-left: 6%;
}

.widget-fb {
    margin: 20px;
    margin-left: 45px;
    margin-right: 10px;
    max-width: 45%;
    }

.intimidad, .tusderechos {
    display: inline-block;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    text-align: left;
    width: 100%;
    max-width: 300px;
    color: white;
}
.titfooter {
    font-size: 11pt;
    text-align: left;
}

.intimidad p {
    font-size: 11px;
    font-style: italic;
    color: white;
    text-align: justify;
}

.derecho, .listaderechos {
    color: white;
    font-size: 11px;
    text-align:justify;
    margin-top: 10px;
    margin-left: -15px;
    line-height: 21px;
}

.ubicacion {
    color: white;
    font-size: 11px;
    text-align: center;
    padding-bottom: 15px;
}

 