* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0%;
    font-family: Verdana, Tahoma, sans-serif;
}

main{
    margin: 10%;
    border: 10%;
}

.contenedor_nav {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
width: 120px;
}

ul {
    list-style: none;
}

header {
    background-color: #C1FFD7;
    opacity: 92%;
    margin: 0%;
    border: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 10%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    }

.navegador {
    min-width: 50%;
}
.navegador_lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav_enlace {
    color:black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
/*SECCIÓN 1*/

.presentación {
    margin: 30px;;
    display: flex;
    justify-content: column;
    gap: 10px;
}
.hacemos{
    font-size: 28px;
    color:black;
    margin: 32px;
    text-shadow:  0 2px 3px grey(0, 0, 0, 0.3);
}
.somos {
    position: center;
    font-size: 25;
    margin: 32px;
    color:grey;
}

.video {
    float: left;
    clear:both;
    width: 480px; 
    height: 480px;
    margin-top: 10px;
    margin: 25px;
}

.botonayuda {
    display: inline-block;
    background-color:#6ECB63;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: 900;
    margin: 20px;
    }

/*SECCIÓN 2*/
.historia {
    background-color:#C1FFD7;
    margin-top: 20 px;
    margin-bottom: 20 px;
    display: inline-block;
    justify-content: column;
    clear:both;
    }

.foto2014 {
    margin: 20px;
    float:right;
    clear: both;
}
.somos2 {
    position: center;
    font-size: 25;
    margin: 32px;
    color:white;
    text-shadow:  0 2px 3px rgba(0, 0, 0, 0.3);
}

.brevehistoria {
    position: center;
    font-size: 22;
    margin: 32px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal; 

}
/*SECCIÓN 3*/
.nuestros_proyectos {
    padding: 64px 32px;
}   
.titulo_proyectos {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 50px;
    margin-bottom: 15px;
    }

.subtitulo_proyectos {
    text-align: center;
    font-size: 22 px;
    color: gray;
    margin-top: 15px;
    margin-bottom:40px;
    }
    
.proyectos {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    text-align: center;
}

.subtitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
    color:black;
    margin-top: 5pt;
    margin-bottom: 13pt;
}
.proyecto {
    background-color: #C1FFD7;
    padding: 16px;
    width: 100%;
    max-width: 300px;
}

.proyecto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    margin: 4%;
    text-align: justify;
}


.imgproy {
    width: 250 px;
    height: 250 px;
}

/*Globo de contacto*/
.contactosfijos {
    position: fixed;
    bottom: 92px;
    right: 30px;
    background-color:white;
    border-radius: 27px;
    padding: 12px;
    border-color: #6ECB63;
    border-style:solid;
}
.wpfijo {
    display: inline-block;
    text-decoration: none;
    z-index: 1000;
}
.fbfijo {
    display: inline-block;
    text-decoration: none;
    z-index: 1000;
}

/*pie de página*/
footer {
    background-color: #C1FFD7;
    opacity: 90%;
    margin: 0%;
    border: 0%;
}

.footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.comunicate {
    text-align: center;
    display: inline-block;
    align-items: center;  
}
.titfooter {
    font-size: 11pt;
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 2%;
    margin-right: 2%;
}
.contactos {
    display: inline-flex;
    max-width: 45%;
    justify-content: space-between 2pt;
    align-items: center;
    margin: 2px;
}
.intimidad {
    padding: 16px 16px;
    display: inline-block;
    align-items: center;
    max-width: 30%;
}
.intimidad h4 {
    font-size: 13px;
    color:black;
}

.intimidad p {
    font-size: 11px;
    font-style: italic;
    color: black;
}

.tusderechos {
    padding: 16px 16px;
    display: inline-block;
    align-items: center;
    text-align: center;
} 

.derecho {
    color: #6ECB63;
    font-size: 11px;
    text-align:center;
}

.ubicacion {
    text-align: center;
    padding-bottom: 2%;
}



 